*.iml
.gradle
/local.properties
/.idea/caches
/.idea/libraries
/.idea/modules.xml
/.idea/workspace.xml
/.idea/navEditor.xml
/.idea/assetWizardSettings.xml
.DS_Store
/build
/captures
.externalNativeBuild
/JSON files
logo_timetable.ai
logo_timetable.svg
logo_timetable_bg.svg
logo_timetable_fg.svg
KeyStore.jks
